

<ul>
    <li><a asp-action="Index" asp-controller="Home" asp-route-category=""> Home </a></li>
    <li><a href="news.asp">News</a></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><a href="about.asp">About</a></li>
</ul>

