@model DAL.Model_Classes.Tournament

@{
    ViewData["Title"] = "Create";
}


<div style="margin-left: 100px;">

    <h2>Create</h2>

    <h4>Tournament</h4>
    <hr />
    <div class="row">
        <div class="col-md-4" style="margin-left: 5em;">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mail" class="control-label"></label>
                    <input type="email" asp-for="Mail" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input type="date" asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input type="date" asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaxCountTeams" class="control-label"></label>
                    <input asp-for="MaxCountTeams" class="form-control" />
                    <span asp-validation-for="MaxCountTeams" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                    <a class="btn btn-default" asp-action="Index">Cancel</a>
                </div>
            </form>

        </div>
    </div>


</div>