@model WebApplication1.Models.ViewModels.LoginCupModel
@{
    ViewData["Title"] = "Login";
}

<div class="infoBlock" style="width: 30%; margin-left: 35%;">
    <header>Login</header>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

</div>
