<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet"
          asp-href-include="/css/main.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <title>SoccerManager</title>

</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <a class="navbar-brand" href="#">SOCCER MANAGER</a>
    </div>
    <div class="row m-1 p-1">
        <div class="col-9">
            @RenderBody()
        </div>
        <div id="categories" class="col-3">
        </div>
    </div>
</body>
</html>