<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.min.css" />
    <link rel="stylesheet" asp-href-include="/css/styles.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <title>SoccerManager</title>

</head>
<body>
    <header>
        SOCCER MANAGER
    </header>
    <nav>
        @await Component.InvokeAsync("NavigationMenu")
    </nav>
    <div style="margin-left: 10%;">
        @RenderBody()
    </div>
</body>
</html>