@model WebApplication1.Models.ViewModels.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<a asp-action="Register" asp-controller="Account">Регистрация</a>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div class="container">
        <div class="form-group">
            <label asp-for="UserType">Enter UserType</label>
            <select asp-for="UserType">
                <option value=@UserType.Team>Team</option>
                <option value=@UserType.Organizer>Organizer</option>
            </select>
            <span asp-validation-for="UserType"/>
        </div>
        <div class="form-group">
            <label asp-for="Name">Enter Email</label>
            <input type="text" asp-for="Name"/>
            <span asp-validation-for="Name"/>
        </div>
        <div class="form-group">
            <label asp-for="Password">Enter Password</label>
            <input asp-for="Password"/>
            <span asp-validation-for="Password"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn"/>
        </div>
    </div>
</form>