@model DAL.Model_Classes.Reward

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Reward</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditReward">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="RewardId" value="@Model.RewardId" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div><span asp-validation-for="Name" class="text-danger"></span></div>
                <input asp-for="Name" class="form-control" value="@Model.Name" />
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <div><span asp-validation-for="Date" class="text-danger"></span></div>
                <input type="date" asp-for="Date" class="form-control" value="@Model.Date" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <a class="btn btn-default" asp-action="ListReward">Cancel</a>
            </div>
        </form>
    </div>
</div>