@model DAL.Model_Classes.Team

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="TeamId" value="@Model.TeamId" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div><span asp-validation-for="Name" class="text-danger"></span></div>
                <input asp-for="Name" class="form-control" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <div><span asp-validation-for="Mail" class="text-danger"></span></div>
                <input type="email" asp-for="Mail" class="form-control" value="@Model.Mail" />
            </div>
            <div class="form-group">
                <label asp-for="DataCreation" class="control-label"></label>
                <div><span asp-validation-for="DataCreation" class="text-danger"></span></div>
                <input type="date" asp-for="DataCreation" class="form-control" value=@Model.DataCreation.ToString("yyyy-MM-dd")/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <a class="btn btn-default" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
