@model WebApplication1.Models.ViewModels.TeamModels.EditTeamModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Team.TeamId" value="@Model.Team.TeamId" />

            <div class="form-group">
                <label asp-for="Team.Name" class="control-label"></label>
                <div><span asp-validation-for="Team.Name" class="text-danger"></span></div>
                <input asp-for="Team.Name" class="form-control" value="@Model.Team.Name" />
            </div>
            <div class="form-group">
                <label asp-for="Team.Mail" class="control-label"></label>
                <div><span asp-validation-for="Team.Mail" class="text-danger"></span></div>
                <input type="email" asp-for="Team.Mail" class="form-control" value="@Model.Team.Mail" />
            </div>
            <div class="form-group">
                <label asp-for="Team.DataCreation" class="control-label"></label>
                <div><span asp-validation-for="Team.DataCreation" class="text-danger"></span></div>
                <input type="date" asp-for="Team.DataCreation" class="form-control" value=@Model.Team.DataCreation.ToString("yyyy-MM-dd") />
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input type="file" asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <a class="btn btn-default" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
