body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    font-size: 2em;
    padding: .5em;
    color: white;
    border-bottom: 2px solid #333;
    text-align: right;
}

.wrapper {
    padding: 2em;
}

.infoBlock header {
    background-color: darkcyan;
    width: 100%;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    padding: 0.4em;
    font-size: 2em;
    color: white;
}

nav {
    margin-right: 2em;
}
nav ul {
    position: absolute;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
}
    nav li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
        font-size: 1.5em;
    }
        nav li a:hover {
            background-color: #555;
            color: white;
            text-decoration: none;
        }

.infoBlock {
    min-width: 280px;
    width: 30%;
    border-radius: 29px;
    border: 2px solid #333;
    margin: 1em;
    padding-bottom: 1em;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

    td a {
        cursor: pointer;
        color: black;
    }

        td a:hover {
            text-decoration: none;
        }

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background-color: steelblue;
}

a.glyphicon {
    position: inherit;
}

.buttonBlock {
    text-align: right;
    display: inline;
    float: right;
    margin-right: .5em;
}

.background-field {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(100,100,100, 0.5);
    margin-left: -12%;
    margin-top: -5em;
}

.middleWindow {
    padding-top: 3em;
    position: fixed;
    width: 50%;
    border: .2em solid #333;
    padding: 1.5em;
    background-color: white;
    width: 30%;
    margin-top: 10em;
    margin-left: 20%;
    border-radius: 2em;
}

    .middleWindow div {
        width: 100px;
    }

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

}
    .tabcontent header {
        background-color: #f1f1f1;
        color: black;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}