body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2a293e;
    font-size: 2em;
    padding: .5em;
    color: white;
    border-bottom: 2px solid #333;
}

.infoBlock header {
    background-color: darkcyan;
    width: 100%;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    padding: 0.4em;
    font-size: 2em;
    color: white;
}

.infoBlock {
    min-width: 280px;
    width: 30%;
    border-radius: 29px;
    border: 2px solid #333;
    margin: 1em;
    padding-bottom: 1em;
}

table {
    width: 98%;
    margin: .5em .2em .5em .2em;
}

th, td {
    text-align: left;
    padding: 8px;
}

    td a {
        cursor: pointer;
        color: black;
    }

        td a:hover {
            text-decoration: none;
        }

tr:nth-child(even) {
    background-color: #f2f2f2;
}
