@model IEnumerable<Team>

@{
    ViewData["Title"] = "Teams";
}

<div class="input-sm">
    @using (Html.BeginForm("Teams", "Home", FormMethod.Get))
    {
        <p>
            Title: @Html.TextBox("SearchString")
            <input type="submit" value="Filter" />
        </p>
    }
</div>

<div class="wrapper" style="width: 50%;">

    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'teams')" id="defaultOpen">Teams</button>
    </div>

    <div id="teams" class="tabcontent">
        <table>
            <tr>
                <th>Name</th>
                <th>Mail</th>
            </tr>
            @foreach (Team team in Model)
            {
                <tr>
                    <td><a asp-controller="Team" asp-action="ListReward" asp-route-id="@team.TeamId">@team.Name</a></td>
                    <td>@team.Mail</td>
                </tr>
            }
        </table>
    </div>
</div>


<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>