@model IEnumerable<string>

<a class="btn btn-block btn-secondary"
   asp-action="SoccerManager"
   asp-controller="Home"
   asp-route-category="">
    Home
</a>

<a class="btn btn-block btn-secondary"
   asp-action="SoccerManager"
   asp-controller="Home"
   asp-route-category="">
    Home
</a>

<a class="btn btn-block btn-secondary"
   asp-action="SoccerManager"
   asp-controller="Home"
   asp-route-category="">
    Home
</a>